.film-description {
  position: relative;

  display: flex;

  background: #9ebadb;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.film-description:not(:last-child) {
  margin-bottom: 30px;
}

.film-description__poster {
  min-width: 150px;
  background-color: rgb(7, 126, 201);
}

.film-description__link {
  display: block;
}

.film-description__link:hover {
  color: blue;
}

.film-description__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
}

.film-description__type {
  margin-right: 30px;
  font-size: inherit;
}
