.film {
  position: relative;

  display: flex;

  background: #9ebadb;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

.film:not(:last-child) {
  margin-bottom: 30px;
}

.film__poster {
  width: 150px;
  object-fit: contain;
  background-color: rgb(7, 126, 201);
}

.film__link {
  display: block;
}

.film__link:hover {
  color: blue;
}

.film__info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 30px;
}

.film__type {
  margin-right: 30px;
  font-size: inherit;
}
